.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  align-content: center;
  top: 0;
}
.popup__container {
  position: inherit;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  width: 358px;
  margin: 0 auto;
}

.form__input {
  display: flex;
  flex-direction: column;
  border: none;
  font-family: "Inter";
}

.form__name {
  margin: 34px auto 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.form__item {
  border: none;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  font-family: "Inter-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__error {
  font-size: 12px;
  width: 100%;
  height: 16px;
  color: red;
  opacity: 0;
  margin-bottom: 15px;
}

.popup_opened {
  display: block;
}
.popup_zoom {
  max-width: 100vw;
}
.popup__container-image {
  width: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  margin: 0 auto;
}
.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}
.popup__close-button {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
  right: -40px;
  align-self: end;
}
.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.popup__container-text {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5px;
  margin-top: 10px;
}
.form__button_inactive {
  color: #cccccc;
  background: #fff;
  pointer-events: none;
}

.form__button_submit {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-family: "Inter-Regular";
  font-weight: 400;
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form__close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}
.form__close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 590px) {
  .popup__container {
    width: 282px;
  }
  .popup__close-button {
    width: 30px;
    height: 30px;
    right: -5px;
  }
  .form {
    width: 238px;
    height: 46px;
  }
  .form__button_submit {
    width: 238px;
  }
  .form__close-icon {
    width: 26px;
    height: 26px;
  }
}
